{% load static %} 

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des avions et aeroports</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@700&family=Play&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/aviation.css' %}">
</head>


    
    <header class="header">
        <nav>
            <a href="base.html" class="icone">
                <img src="../../static/assets/logo.jpg" alt="Logo" />
            </a>
            <div>
                <a href="{% url 'base' %}">Accueil</a>
                <a href="{% url 'a_propos' %}">À propos</a>
            </div>
        </nav>
    </header>

    <body>
        <div class="video-background">
            <video autoplay muted loop>
                <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
                Votre navigateur ne prend pas en charge la vidéo.
            </video>
        </div>
    <div class="content">
    <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    
    </div>
</body>

</html>
